 .u-section-1 {
  min-height: 1066px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 31px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 970px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 54px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 28px auto 0 52px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px auto 0 52px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  margin: 28px auto 0;
  padding: 20px 18px 21px 16px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 970px;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-1 .u-image-1 {
  width: 455px;
  height: 757px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 735px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 800px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 800px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 426px;
    height: 709px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 547px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 200px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 772px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 744px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 696px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 509px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 438px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 533px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("np://user.desktop.nicepage.com/Site_69318829/images/jm-estetica-saude-clinica-estetica3.jpeg?rand=fbfe");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 13px;
}

.u-section-2 .u-text-1 {
  margin: -3px 40px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 27px 12px 0 auto;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  margin: 165px auto 0 89px;
  padding: 20px 18px 21px 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 567px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("np://user.desktop.nicepage.com/Site_69318829/images/jm-estetica-saude-clinica-estetica4.jpeg?rand=aa75");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 13px 0 24px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 24px 12px 0 auto;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  margin: 165px auto 0 89px;
  padding: 20px 18px 21px 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 891px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 20px;
}

.u-section-4 .u-image-1 {
  min-height: 750px;
  background-image: url("np://user.desktop.nicepage.com/Site_69318829/images/botox2.jpg?rand=e287");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 826px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: -1px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 42px 10px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 322px;
  height: 451px;
  margin: 57px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  margin: 40px auto 0;
  padding: 20px 18px 21px 16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 618px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 681px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-4 .u-image-1 {
    min-height: 473px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-4 .u-image-1 {
    min-height: 710px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-4 .u-image-1 {
    min-height: 447px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 823px;
}

.u-section-5 .u-list-1 {
  margin-top: 120px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 556px;
}

.u-section-5 .u-image-1 {
  background-image: url("np://user.desktop.nicepage.com/Site_69318829/images/limpeza-de-pele-itaquera-sp.jpg?rand=84ca");
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  background-image: url("np://user.desktop.nicepage.com/Site_69318829/images/tratamento-queda-cabelo-itaquera-sp.jpg?rand=86a4");
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 262px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 312px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 644px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 573px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 752px;
}

.u-section-6 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 60px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 12px auto 0;
}

.u-section-6 .u-text-2 {
  width: 680px;
  margin: 22px auto 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  margin: 33px auto 60px;
  padding: 20px 18px 21px 16px;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-6 .u-video-1 {
    height: 304px;
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-6 .u-video-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}.u-block-f580-5 {
  position: absolute;
  top: auto;
  bottom: 9px;
}

.u-block-f580-3 {
  position: absolute;
  left: 0;
}

.u-block-f580-4 {
  position: absolute;
  right: 0;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-7-1 .u-image-1 {
  width: 442px;
  height: 555px;
  margin: 0 auto;
}

.u-section-7-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-7-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 1px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-image-1 {
    height: 568px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-7-1 .u-image-1 {
    width: 340px;
    height: 437px;
  }
}

.u-section-7-2 .u-sheet-1 {
  min-height: 494px;
}

.u-section-7-2 .u-layout-wrap-1 {
  margin-top: -136px;
  margin-bottom: 0;
}

.u-section-7-2 .u-image-1 {
  min-height: 610px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("np://user.desktop.nicepage.com/Site_69318829/images/jm-estetica-saude-clinica-estetica5.jpeg?rand=b0cd");
  background-position: 50% 50%;
}

.u-section-7-2 .u-container-layout-1 {
  padding: 13px 31px;
}

.u-section-7-2 .u-text-1 {
  font-weight: 700;
  margin: 296px auto 0 29px;
}

.u-section-7-2 .u-text-2 {
  margin: 20px 29px 0;
}

.u-section-7-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  margin: 11px auto -17px 0;
  padding: 20px 30px 21px 29px;
}

.u-section-7-2 .u-image-2 {
  min-height: 318px;
  background-image: url("np://user.desktop.nicepage.com/Site_69318829/images/jm-estetica-saude-clinica-estetica6.jpeg?rand=3d0d");
  background-position: 50% 50%;
}

.u-section-7-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7-2 .u-image-3 {
  min-height: 292px;
  background-image: url("np://user.desktop.nicepage.com/Site_69318829/images/jm-estetica-saude-clinica-estetica7.jpeg?rand=ce36");
  background-position: 50% 50%;
}

.u-section-7-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7-2 .u-image-4 {
  min-height: 292px;
  background-image: url("np://user.desktop.nicepage.com/Site_69318829/images/jm-estetica-saude-clinica-estetica1.jpeg?rand=4a78");
  background-position: 50% 50%;
}

.u-section-7-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 503px;
  }

  .u-section-7-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 262px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 241px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 241px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 1425px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 771px;
  }

  .u-section-7-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 401px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 369px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 369px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 1871px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 578px;
  }

  .u-section-7-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 301px;
  }

  .u-section-7-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 554px;
  }

  .u-section-7-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 554px;
  }

  .u-section-7-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 364px;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 190px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 349px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 349px;
  }
}

.u-section-7-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-7-3 .u-image-1 {
  width: 442px;
  height: 512px;
  margin: 10px auto 0;
}

.u-section-7-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-7-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px auto 7px 483px;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-image-1 {
    height: 694px;
  }

  .u-section-7-3 .u-btn-1 {
    margin-left: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-btn-1 {
    margin-left: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7-3 .u-image-1 {
    width: 340px;
    height: 534px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 640px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-4 {
  margin: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}